h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

.search {
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("nebula.jpg");
  opacity: 90%;
}

#content {
  padding: 15px 40px;
  text-align: justify;
  color: white;
}

#image {
  max-width: 100%;
  height: auto;
  align-self: center;
}
